body{
  margin: 0px;
}
#main_div{
  margin: 0px;
  /* position: absolute;
  top: 0%; bottom: 0%; right: 0%; left: 0%; */
  width: 100%;
  height: 100%;
  background-color: rgb(103, 234, 33);
}
#head_div{
  width: 100%;
  height: 155px;
  background-color: rgb(245, 243, 243);
}
#body_div{
  width: 100%;
  height: 100%;
  background-color: rgb(246, 244, 241);
}